:root {
    --header-color: #e5e4e2;
    --nav-color: #fafafa;
    --primary-color: #ebebeb;
    --secondary-color: #AEDD94;
    --text-color: #606060;
    
  }

.hide-mobile {
    display: none;
}

.main {
    padding: 3em;
}

.styled-hr {
    width: 80%; /* Adjust the width to control how long the line is */
    border: none; /* Remove the default border */
    border-top: 2px solid #333; /* Create a custom solid line */
    margin: 2em auto; /* Center the line and add margin */
    opacity: 0.6; /* Optional: make the line slightly transparent */
  }

.block1{
    display: flex;
    flex-direction: column;
    h1, p {
        text-align: center;

    }

    h1 {

        font-size:2rem;
    }

    p {
        margin-top: 2em;
        font-size: 1.3rem;
        color: var(--text-color);
    }

    img {
        width: 100%;
        border-radius: 1em; /* Adjust the value to control how rounded the corners are */

    }
}

.block2 {
    display: flex;
    flex-direction: column;

    h1, p {
        text-align: center;
        margin-left: 3em;
        margin-right:3em;

    }

    .image-wrapper {
        display: flex;
        justify-content: center;
    }

    .image-wrapper img {
        align-self: center;
        width: 50%;
        border-radius: 1em; /* Adjust the value to control how rounded the corners are */

    }

    p {
        margin-top: 2em;
        font-size: 1.3rem;
        color: var(--text-color);
        margin-left: 5em;
        margin-right:5em;
    }

    .get-involved {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2em;

        &:hover {
            a{
                color: white
            }
        }

    }
    
    .get-involved a{
        font-size: 1.4rem;
        background-color: var(--secondary-color); /* Light green */
        text-decoration: none;
        color: #333; /* Dark text for contrast */
        padding: 0.8em 2em;
        border-radius: 25px; /* Fully rounded corners */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
}

.block3 {
    display: flex;
    flex-direction: column;

    h1, p, .table {
        text-align: center;
        margin-left: 3em;
        margin-right:3em;
    }


    p {
        margin-top: 1em;
        font-size: 1.3rem;
        color: var(--text-color);
    }

    .table {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .activities {
        margin: 1em;
        background-color: var(--secondary-color); /* Light green */
        height: 3em;
        padding: 1em;
        border-radius: 35px; /* Fully rounded corners */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
        display: flex; /* Flexbox for centering the text */
        flex-direction: column;
        justify-content: center; /* Center text horizontally */

        &:hover {
            a{
                color: white
            }
        }


    }

    .activities a{

        font-size: 1.4rem;

        text-decoration: none;
        color: #333; /* Dark text for contrast */
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

 
}

.block4 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
        margin-left: 3em;
        margin-right:3em;
    }

    .image-wrapper{

        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .img {
        width: 30%;

    }




 
}



@media (min-width: 950px) {


    main {
        
        padding: 5em;
        padding-top: 1.5em;
    }

    p {
        font-size: 2em;
    }

    header .header-left{
        padding: 1em;
    }


    .header-right {
        display: flex;
        flex-direction: row;
    }

    .hide-mobile {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        position: unset;
        width: auto;
        height: 100%;
        background-color: var(--header-color);
        justify-content: space-evenly;
        transform: translateX(0%);
        transition: none;


        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 1em;
            &:not(:first-of-type){
                &:hover {
                    background-color: var(--header-color);
                    a{
                        color:black;
                        padding: 0.5em;
                        box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
                        border-radius: 0.3em;
                        
    
                    }
                }
            }
        }
    }

    .block1 {
        h1 {
            font-size: 2.7em;
            margin: 0.3em 5em;
        }

        img {
            align-self: center;
            width: 70%;
            height: 60%;
            border-radius: 1em; /* Adjust the value to control how rounded the corners are */
    
        }

        p {
            margin: 1em 5em;
        }

    }

    .block2 {
        display: flex;
        flex-direction: row;
        margin-right: 3em;
        margin-left: 8em;
        justify-content: center;

        .image-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            img {
                margin: 2em 0;
                height: 80%;
                width: 90%;
            }
        }

        

        .block2b {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 1em;
            padding-left: 1em;

            .block2belms {
                margin: 0.3em;
                margin-right: 1.5em;
                margin-left: 1.5em;
            }

            h1 {
                font-size: 2.5em;
            }
        }
    }

    .block4 {
        display:flex;
        flex-direction: row-reverse;
        padding:  1em 10em;

    }



    .hide-desktop {
        display: none
    }
}




